@import "~materialize-css/dist/css/materialize.min.css";

input.orange-input{
    border-bottom: 1px solid #fff!important;
    box-shadow:  0 1px 0 0 #fff!important;
}

input.orange-input + label {
    color:#d8d8d8!important;
}

input.orange-input:focus + label{
    color:#e65100!important;
}

input.orange-input:focus{
    border-bottom: 1px solid #e65100!important;
    box-shadow:  0 1px 0 0 #e65100!important;
}

div.card-content.auth-page{
    padding-top: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

div.registration div.row{
    margin-bottom: 10px;
}